*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/library/attachment-viewer/build
/library/ui-styles/build
/library/ui-strings/build
/library/external/dialpad/build
/library/external/jsonviewer/build
/library/external/diff-match-patch/build
/library/multipicker/build
/library/core-utils/build
/matrix-sdk-android
/matrix-sdk-android-flow
/vector/build
/vector-app/build
/vector-app/gplay/
/vector-config/build
*.apk
