*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
matrix-sdk-android/build/.transforms
/library
/matrix
*.bin
*.dex
*.json
/matrix-sdk-android-flow
/matrix-sdk-android
/vector-app
/vector-config
/vector